.books-detail-section {
  background-color: rgb(253, 253, 253);
  padding: 100px;
}
.card-books-detail {
  background-color: rgb(255 250 254);
  border-radius: 6px;
  padding: 20px;
}
.card-body-books-img img:hover {
  -ms-transform: scale(1.3);
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}
.card {
  padding: 50px;
  height: 100%;
  background-color: #fcfaf7;
  display: flex;
  align-items: center;
  justify-content: center;
}

.basket-btn {
  width: 50%;
  height: 32px;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
  border-radius: 3px;
  border: 1px solid #e51a4b;
  background: linear-gradient(180deg, #e51a4b, #47004a);
}
.basket-btn-title {
  color: white;
  font-size: 16px;
}

.price-title {
  color: #e51a4b;
  font-weight: 700;
  font-size: 18px;
}

.book-detail-container {
  padding: 10px;
  background-color: #fcfaf7;
  border-radius: 20px;
}

@media screen and (max-width: 992px) {
  .description-text {
    font-size: 12px !important;
  }
  .authors {
    font-size: 18px;
  }
}

@media screen and (max-width: 768px) {
  .card {
    padding: 0px;
  }

  .card-detail {
    display: block;
  }

  .book-detail {
    width: 100%;
  }

  .books-detail {
    width: 100%;
  }

  .bookdetail-title,
  .authors {
    text-align: center;
  }
}
@media screen and (max-width: 568px) {
  .books-detail-section {
    padding: 10px !important;
  }
  .bookdetail-title {
    font-size: 24px !important;
    text-align: center !important;
  }
  .authors {
    text-align: center !important;
    font-size: 18px !important;
  }
  .description-text {
    font-size: 14px !important;
  }
  .book-about {
    text-align: center !important;
    font-size: 12px !important;
  }
}
